*{
    margin: 0;
    padding: 0;
    margin-top: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

#logo{
    vertical-align: middle;
}

header{
    background-color: white;
}

h1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 80%;
    margin: 0 auto;
}

nav{
    background-color: white;
    margin-top: 50px;
    border-radius: 25px 25px 0 0;
    height: 50px;
}

.butt1{
    background-color: rgb(39, 182, 226);
    color: white;
    height: 30px;
    width: 100px;
    border:0 ;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.butt2{
    background-color: white;
    color: grey;
    height: 30px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 10px;
}
section{
    background-color: white;
    border-radius: 0 0 25px 25px;
    margin-top: 10px;
}
li{
    margin-top: 15px;
    list-style-type: none;
}
.sottotitolo{
    display: inline-block;
}
.azzurro{
    background-color: cyan;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.verde-acq{
    background-color:aquamarine;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.viola{
    background-color: purple;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.arancione{
    background-color: orange;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.rosa{
    background-color: pink;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
.verde{
    background-color: green;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 13px;
}
p::before{
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
    content: "\2717";
}
span::before{
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: green;
    content: "\2713";
}